//VARIABILI DEI COLORI
$color-primary: #a18560;
$color-secondary: #546455;
$color-tertiary: #286365;
$color-light: #d4e0e0;
$color-text: #333333;
$color-whatsapp: #25D366;

$color-white: #ffffff;
$color-beige: #f2eee9;
$color-orange: #ee9520;
$color-green-light: #e5e8e6;

$color-gray-1: #333333;
$color-gray-2: #666666;
$color-gray-3: #999999;
$color-gray-4: #cccccc;
$color-gray-5: #e1e1e1;
$color-gray-6: #f2f2f2;

$button-radio: 0.25rem;
$container-radio: 0.375rem;
$image-radio: 0.5rem;

$header-height:4.375rem;
