@import '../mixins';

.unique_list {
    &__heading {
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #2B2B2B;
    }

    &__card {
        height: 100%;
        background-color: #dee0dd;

        &__paragraph {
            text-align: center;
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            color: #546455;
        }
    }
    @include respond(sm-phone) {
        &__heading {
            font-size: 22px;
            line-height: 30px;
        }
    
        &__card {
            padding: 2rem 1rem !important;    
            &__paragraph {
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
}